@page "/user/apikeys/add"
@model Add
@{
    ViewBag.Title = "Add API Key";
    ViewBag.PageId = "AddApiKey";
}

<div class="card mb-2">
    <div class="card-header">
        <h5>Add an ApiKey</h5>
    </div>
    <div class="card-body">
        @await Html.PartialAsync("Shared/_ValidationSummary")
        <form method="post" class="card">
            <div class="card-body">
                @Html.EditorFor(x => x.Name, null, new { autofocus = "autofocus" })
            </div>
            <div class="card-footer">
                <input type="submit" value="Add" class="btn btn-primary ms-auto" data-testid="SubmitButton"/>
            </div>
        </form>
    </div>
</div>