@model Model

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
        @if (Model.Organisation != null)
        {
            @Model.Organisation.Name
        }
        else
        {
            <span>Select organisation</span>
        }
    </a>
    <ul class="dropdown-menu">
        @foreach (var item in Model.Memberships)
        {
            <li>
                <a class="dropdown-item" asp-page="/Organisation/Details" asp-route-org="@item.OrganisationName">@item.OrganisationName</a>
            </li>
        }
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" asp-page="/Organisations/Create">Create new organisation...</a>
        </li>
    </ul>
</li>