@page "/org/{org}"
@model Micro.Web.Pages.Organisations.Details

@{
    ViewData["Title"] = "Organisation";
}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Organisation: @Model.Result.Name</h5>
        <div class="card-subtitle text-muted">@Model.Result.Id</div>
    </div>
</div>
