@page "/org/{org}/projects/{project}"
@model Details

@{
    ViewData["Title"] = "Project";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Project: @Model.Result.Name</h5>
        <div class="card-subtitle text-muted">@Model.Result.Id</div>
    </div>
</div>