@using Micro.Web.Code.Contexts.Page
@using Micro.Web.Pages.Shared.Components.ProjectSelector
@using Micro.Web.Pages.Shared.Components.UserMenu
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Micro.Web.Code.Contexts.Authentication
@inject IAuthContext AuthContext
@inject IPageContextAccessor PageContext
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">MicroSAAS</a>
        <ul class="navbar-nav">
            @if (AuthContext.IsAuthenticated)
            {
                <div class="me-2">
                    <vc:project-selector/>
                </div>
                <div class="me-2">
                    <vc:org-selector/>
                </div>
                <vc:user-menu/>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Auth/Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Auth/Register">Register</a>
                </li>
            }
        </ul>
    </div>
</nav>
