@inject Micro.Web.Code.PageContext.IPageContextAccessor PageContext
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MicroSAAS</a>
        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <vc:project-selector/>
                <vc:org-selector/>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Auth/Logout">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Auth/Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Auth/Register">Register</a>
                </li>
            }
        </ul>
    </div>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        @if (PageContext.Organisation != null)
        {
            <li class="breadcrumb-item">Organisation</li>
            <li class="breadcrumb-item"><a href="#">@PageContext.Organisation.Name</a></li>
            @if (PageContext.Project != null)
            {
                <li class="breadcrumb-item">Project</li>
                <li class="breadcrumb-item"><a href="#">@PageContext.Project.Name</a></li>
            }
        }
    </ol>
</nav>