@page "/org/{org}/projects/{project}/translate/languages"
@model Index

<div class="card mb-2">
    <div class="card-header">
        <span class="float-end">
            Languages: <strong>@Model.Results.Count()</strong>
        </span>
        <h5>Languages</h5>
    </div>
    <div class="card-body">
        @foreach (var item in Model.Results)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">@item</h5>
                </div>
            </div>
        }
    </div>
</div>