@page "/org/{org}/projects/{project}/translate/translations/add"
@model AddPage

<div class="card mb-2">
    <div class="card-header">
        <h5>Create a new translation</h5>
    </div>
    <div class="card-body">
        <partial name="_ValidationSummary"/>
        <form method="post" class="card">
            <div class="card-body">
                @Html.EditorFor(x => x.Text, null, new { autofocus = "autofocus" })
                @Html.HiddenFor(x => x.TermId)
                @if (Model.LanguageCode == null)
                {
                    @Html.DropDownListFor(x => x.LanguageCode, Model.Languages, new { @class = "form-select" })    
                }
                else
                {
                    @Html.HiddenFor(x => x.LanguageCode)
                }
                
            </div>
            <div class="card-footer">
                <input type="submit" value="Add" class="btn btn-primary ms-auto" data-testid="Add"/>
            </div>
        </form>
    </div>
</div>