@page "/org/{org}/projects/{project}/translate/translations/update"
@model UpdatePage

<partial name="_ValidationSummary"/>

<form method="post" class="card">
    <div class="card-body">
        @Html.EditorFor(x => x.Text, null, new { autofocus = "autofocus" })
        @Html.HiddenFor(x => x.TermId)
        @Html.HiddenFor(x => x.LanguageCode)
    </div>
    <div class="card-footer">
        <input type="submit" value="Update" class="btn btn-primary ms-auto" data-testid="Update"/>
    </div>
</form>