@page "/org/{org}/projects/{project}/translate/languages/add"
@model Micro.Web.Pages.Translate.AddLanguagePage

<partial name="_ValidationSummary"/>

<form method="post" class="card">
    <div class="card-body">
        @Html.DropDownListFor(x => x.Selected, Model.Language, null, new { autofocus = "autofocus" })
    </div>
    <div class="card-footer">
        <input type="submit" value="Add" class="btn btn-primary ms-auto" data-testid="Add"/>
    </div>
</form>