@page "/org/{org}/projects/{project}/translate/terms/import"
@model Micro.Web.Pages.Translate.ImportTermsPage

<div class="card mb-2">
    <div class="card-header">
        <h5>Import terms</h5>
    </div>
    <div class="card-body">
        <partial name="_ValidationSummary"/>
        <form method="post" class="card" ENCTYPE="multipart/form-data">
            <div class="card-body">
                @Html.EditorFor(x => x.ImportFile, null, new { autofocus = "autofocus" })
            </div>
            <div class="card-footer">
                <input type="submit" value="Import" class="btn btn-primary ms-auto" data-testid="Import"/>
            </div>
        </form>
    </div>
</div>