@page
@model Micro.Web.Pages.Translate.Terms

<div class="card mb-2">
    <div class="card-header">
        <span class="float-end">
            Terms: <strong>@Model.Results.TotalTerms</strong>
        </span>
        <h5>Terms</h5>
    </div>
    <div class="card-body">
        @foreach (var item in Model.Results.Terms)
        {
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                </div>
            </div>
        }
    </div>
</div>