@page
@model Micro.Web.Pages.Translate.UpdateTranslationPage

<partial name="_ValidationSummary"/>

<form method="post" class="card">
    <div class="card-body">
        @Html.EditorFor(x => x.Text, null, new { autofocus = "autofocus" })
        @Html.HiddenFor(x => x.Id)
    </div>
    <div class="card-footer">
        <input type="submit" value="Update" class="btn btn-primary ms-auto" data-testid="Update"/>
    </div>
</form>