@model string
@{
    var fieldName = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
}

<div class="mb-3">
    <label asp-for="@Model" class="form-label"></label>
    <input asp-for="@Model" data-testid="@fieldName" class="form-control" type="password"/>
    <span asp-validation-for="@Model"></span>
</div>