@page
@model Micro.Web.Pages.Auth.ForgotPassword
@{
    ViewBag.Title = "Forgot Password";
    ViewBag.PageId = "ForgotPassword";
}

<partial name="_ValidationSummary"/>

<form method="post" class="card">
    <div class="card-body">
        @Html.EditorFor(x => x.Email, null, new { autofocus = "autofocus" })
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <input type="submit" value="Reset Password" class="btn btn-primary ms-auto" data-testid="ForgotPasswordButton"/>
        </div>
    </div>
</form>