@page
@model Login
@{
    ViewBag.Title = "Login";
}
<partial name="_ValidationSummary"/>

<form method="post" class="card">
    <div class="card-body">
        @Html.EditorFor(x => x.Email, null, new { autofocus = "autofocus" })
        @Html.EditorFor(x => x.Password)
    </div>
    <div class="card-footer">
        <input type="submit" value="Login" class="btn btn-primary ms-auto" data-testid="Login"/>
    </div>
</form>