@page
@model Micro.Web.Pages.Auth.ResetPassword
@{
    ViewBag.Title = "Reset Password";
    ViewBag.PageId = "ResetPassword";
}

<partial name="_ValidationSummary"/>

<form method="post" class="card">
    <div class="card-body">
        @Html.EditorFor(x => x.Password)
        @Html.HiddenFor(x => x.UserId)
        @Html.HiddenFor(x => x.Token)
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <input type="submit" value="Reset Password" class="btn btn-primary ms-auto" data-testid="ResetPasswordButton"/>
        </div>
    </div>
</form>